*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IDEA specific
.idea/

.DS_Store
__pycache__/

.storagespace
node_modules/
venv
Pydra/Services/WaveformGenerator/USTCDA/测试数据/序列数据生成波形预览.png
