@()

@main("Hello World") {
@defining(play.core.PlayVersion.current) { version =>

<script src='@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/msgpack.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/interactionfree.js")' type="text/javascript"></script>
<script src='@routes.Assets.versioned("javascripts/dashboard.js")' type="text/javascript"></script>

<section id="content">
    <div class="wrapper doc">
        <article>
            <div class="w3-container w3-content w3-center w3-padding-64" id="intro">
                <h2>Dashboard</h2>
            </div>
        </article>
    </div>
</section>

}
}